# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    { 'type' : 'separator' }
    {
      'label' : 'Refactorings'
      'submenu': [
        {
          'label': 'Rename Var/Param'
          'command': 'refactorjs:renameVariable'
        }
        {
          'label': 'Extract Function'
          'command': 'refactorjs:extractFunction'
        }
        {
          'label': 'Inline Function'
          'command': 'refactorjs:inlineFunction'
        }
      ]
    }
    { 'type' : 'separator' }

  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'refactorjs'
      'submenu': [
        {
          'label': 'Rename variable'
          'command': 'refactorjs:renameVariable'
        }
        {
          'label': 'Extract Function'
          'command': 'refactorjs:extractFunction'
        }
        {
          'label': 'Inline Function'
          'command': 'refactorjs:inlineFunction'
        }
      ]
    ]
  }
]
